*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #555;
}
.todo-form input{
    height: 40px;
    width: 300px;
    padding-left: 10px;
    outline: none;
    background: #4A95D6;
    border-radius: 5px;
    font-size: 16px;
    
}
::placeholder{
    font-size: 16px;
    color: #fff;
}
.todo-form button{
    height: 40px;
    font-size: 16px;
    margin-left: 5px;
    outline: none;
    background-color: #4A95D6;
    border-radius: 5px solid #fff;
    outline: none;
}
.text{
    font-size: 20px;
    color: #fff;
}
.delete-icon{
    font-size: 24px;
    color: #fff;
}
.edit-icon{
    font-size: 24px;
    color: #fff;
    margin-left: 5px;
}